@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #00c853, #1565c0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    border-radius: 15px;
    padding: 40px 60px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

h1 {
    color: #00c853;
    font-size: 24px;
    margin-bottom: 25px;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: #202226;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #00c853;
}

.btn {
    width: 100%;
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0d47a1;
}

/* Links (Esqueceu / Criar conta) */
.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    color: #1565c0;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
}

.btn-voltar {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #00c853;
    color: #00c853;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-voltar:hover {
    background-color: #00c853;
    color: white;
}
